{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="archive__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <p>
      <strong>{{ title }}</strong>
      {% if post.paperurl %}
        <!-- <a href="{{ post.paperurl }}">[<strong>PDF</strong>]</a> -->
        <a href="{{ post.paperurl }}" target="_blank">[<strong>PDF</strong>]</a>
      {% endif %}
      {% if post.citation %}
        <br />{{ post.citation }}
      {% endif %}
    </p>

  </article>
</div>
